@mixin animation(
  $name,
  $duration: 0.8s,
  $timing-function: ease,
  $delay: .3s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: forwards
) {
  animation: {
    name: $name;
    duration: $duration;
    timing-function: $timing-function;
    delay: $delay;
    iteration-count: $iteration-count;
    direction: $direction;
    fill-mode: $fill-mode;
  }
}


$breakpoints: (
  'sm': 'screen and (max-width: 767px)', 
  // 'md': 'screen and (max-width: 1024px)', 
  // 'lg': 'screen and (max-width: 1439px)',
) !default;


@mixin bp($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

