@mixin animation(
  $name,
  $duration: 0.8s,
  $timing-function: ease,
  $delay: .3s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: forwards
) {
  animation: {
    name: $name;
    duration: $duration;
    timing-function: $timing-function;
    delay: $delay;
    iteration-count: $iteration-count;
    direction: $direction;
    fill-mode: $fill-mode;
  }
}


$breakpoints: (
  'sm' : 'screen and (max-width: 768px)',
  'mid2' : 'screen and (max-width: 600px)',
  'mid' : 'screen and (max-width: 780px)',
  'lg2' : 'screen and (max-width: 960px)',
  'lg' : 'screen and (min-width: 769px)',
  // 'md': 'screen and (max-width: 1024px)', 
  // 'lg': 'screen and (max-width: 1439px)',
) !default;


@mixin bp($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@function px_rem($target,$base) {
  $per : $target / $base;
  @return $per * 1rem;
}

